body {
    position: relative;
}

main {
    background-color: rgb(222, 250, 227);
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: rgb(139, 184, 225);
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: block;
    margin: auto;
}

#logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 0px;
    display: block;
}

img {
    height: 250px;
    width: 200px;
    margin: 0px;
    padding: 0px;
    opacity: 0.2;
}

#pineapple {
    height: 280px;
}

img:hover {
    opacity: 1;
    cursor: pointer;
}

#fruits {
    width: 70%;
    margin: auto;
    padding: 10px 0px;
    color: #4d6f8f;
    position: relative;
}

#fruits p {
    margin-bottom: 50px;
}



h2 {
    font-size: 30px;
}

#window {
    background: white;
    opacity: 0.8;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
}

button {
    position: absolute;
    right: 2px;
    top: 2px;
    border: none;
    background: none;
    color: grey;
    font-size: 20px;
}

#quote {
    color: #b8d4bd;
    width: auto;
    margin-top: 60px;
    padding: 10px 15px;
    font-size: 30px;
    font-weight: bold;
    bottom: 10px;
    justify-content: center;
    align-items: center;
}