main {
    background-color: rgb(222, 250, 227);
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

h1 {
    color: rgb(139, 184, 225);
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 30px;
    margin-top: 0px;
    
}

img {
    height: 15%;
    width: 15%;
    margin: 0px;
    padding: 0px;
    opacity: 0.2;
}

img:hover {
    opacity: 1;
    cursor: pointer;
}

#fruits {
    width: 70%;
    margin: auto;
    padding: 20px 0px;
    color: #4d6f8f;
    position: relative;
}

#fruits p {
    margin-bottom: 50px;
}

blockquote {
    background: #b8d4bd;
    border-radius: 10px;
    color: #70634a;
    width: auto;
    margin: 10px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
}

h2 {
    color: red;
}